body {
    color: whitesmoke;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1LWiD9q0lfB-6vGm_p4qzie-2TjwIygbGoA&usqp=CAU);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 20px;
    height: 100vh;
}

fieldset {
    width: 200px;
    margin: 0 auto;
    border-color: azure;
}

#name,
#email,
#password,
#phone {
    padding: 0.35cm 0.5rem;
    border:none;
    border-radius: 20px;
    font-size: 20px;
}

button{
        border: none;
            border-radius: 20px;
                width: 100px;
                    font-size: 20px;
                        line-height: 10px;
                            padding: 10px;
                                cursor: pointer;
                                }

                                button:hover{
                                    background: black;
                                        color: white;
                                }
::placeholder{
        color: Black;
            opacity: 0.8;
            }

#submit {
    padding: 1rem;
}