body {
    /*background-color: aliceblue;*/
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9E69AxPbVBFEgtEVsSVZOASVV0IEwE9rMWQ&s);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 20px;
}

fieldset {
    width: 200px;
    margin: 0 auto;
    border-color: azure;
}

#name,
#email,
#password,
#phone {
    padding: 0.35cm 0.5rem;
    border:none;
    border-radius: 2px;
    font-size: 16px;
}

#submit {
    padding: 1rem;
}